body{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: cadetblue;
}

form{
    background-color: darkcyan;
    padding: 20px;
    border: 1px solid darkgoldenrod;
    border-radius: 5px;
    box-shadow: 0 0 10px darkorange;
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
}

input, textarea, select, button {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid goldenrod;
    border-radius: 5px;
}

button{
    background-color: cadetblue;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: goldenrod;
    transition-duration: 0.5s;
    box-shadow: 0 12px 16px 0 darkgoldenrod;
}

hr{
    border: 2px solid lightyellow;
    border-radius: 20px;
   }